extends layout

block content
  h1= title
  h2 Welcome  #{samlSubject}, to the header-based authenticated app
  p The session value for ngrok is: 
  p #{sessionHeader}
  
  //- h2 Care for a video 
  //- iframe(width='560', height='315', src='https://www.youtube.com/embed/M4K7XZGeHTE?start=34&autoplay=1&mute=0', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


